token:
  name: "MyToken"
  symbol: "MSH"
  decimals: 8
  total_supply: 200000000000 # Total supply in whole units

blockchain:
  difficulty: 3
  genesis_name: GENESIS
  genesis_miner: MINER
  genesis_pre_mined: 2000000000000000000 # Pre-mined amount in smallest units (10% of total_supply)
